
.card {
  width: 30%;
  background-color: #fff;
  border-radius: 12px; /* 微調整 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 微調整 */
  overflow: hidden;
  margin: 20px;
  transition: transform 0.3s ease;
  backface-visibility: hidden;
  will-change: transform;
}
  
  .card:hover {
    transform: scale(1.02);
  }

  .card h3, .card p {
    padding: 10px;
  }
  
  .card h3 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
  }
  
  .card p {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    padding: 10px;
  }
  
  /* モバイルデバイス向けのスタイル */
@media (max-width: 768px) {
  .card {
    width: 100%; /* 画面の幅いっぱいに広がるようにする */
    margin: 10px 0; /* スマホ表示ではマージンを上下のみに設定 */
    transform: none; /* ホバー時の変形を無効化 */
  }
}